body {
  height: 100%;
  width: 100%;
  background: #9ed9c5;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.25rem;
}

.title h5 {
  margin: 1.75rem 0;
}

.container {
  margin-top: 3rem;
}

.bold {
  font-weight: 700;
}

.margin {
  margin: 1rem auto;
}

.cards {
  margin: 1.5rem 0;
}

h1 {
  font-size: 3.25rem;
}


label {
  font-weight: bold;
}

#calculate {
  background: #5c7893;
  color: white;
}

#reset {
  background: #a23131;
  color: white;
}

.result {
  font-size: 1.5rem;
}
